.mydiv1{ border: 7px outset white; background-color: darkgreen; color: white;}

.myfooter{border: 7px outset white solid; background-color: darkgreen; width:300px; height: 40 px; text-align: center; color: white;}

.mybody{border: 7px outset white; background-color: black; padding: 9px;}

#headertop {background-color: darkgreen; border:7px outset white;  padding: 9px;}


#tj1{border: 7px outset white; background-color: darkgreen; color: white;}

#mydiv2{border: 7px outset white solid; background-color: darkgreen; width: 300px; height: 30px; color: white; padding: 9px;}

.mydiv2{ border: 7px outset white; background-color: darkgreen; color: white;}
